body {
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}

img {
    vertical-align: middle;
}
