:root {
    --primary-color: #000000;
    --success-green: #00a55e;
    --alert-orange: #ffa000;
    --alert-orange-dark: #ff5722;
    --caution-yellow: #e2dc11;
    --danger-red: #dc1818;

    --light-gray: #dadada;
}
