@mixin items-per-row($items) {
    display: inline-block;
    width: calc((100% / #{$items}) - (#{$items}rem - 1rem) / #{$items});
    margin-right: 1rem;
    margin-bottom: 1rem;

    &:not(:nth-child(#{$items}n)) {
        margin-right: 0.99rem;
    }

    &:nth-child(#{$items}n) {
        margin-right: 0;
    }
}
